{{#if isEdit}}
  {{input value=value}}
  {{mdl-button text="Save" action=(action "toggleEdit")}}
{{else}}
  <span style={{if strike 'text-decoration:line-through;'}}>
    {{value}}
  </span>
  {{#if (not strike)}}
    {{mdl-button icon='edit' action=(action "toggleEdit")}}
  {{/if}}
{{/if}}
