<div class="mdl-grid">
  {{#each content as |card index|}}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
      
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">
          {{edit-item model=card property="title"}}
        </h2>
      </div>
      
      {{!-- Main content --}}
      <div class="mdl-card__supporting-text">
        <p>{{edit-item model=card property="description"}}</p>
        <ul class="list-unstyled">
          {{#each card.checklist as |item|}}
            <li>
              {{mdl-checkbox value=item.done}}
              {{edit-item model=item property="text" strike=item.done}}
            </li>
          {{/each}}
        </ul>
      </div>
      
      {{!-- Actions --}}
      <div class="mdl-card__actions mdl-card--border">
        {{mdl-button text='Add checklist item'}}
        {{mdl-button text='Clear done' action=(action 'clearDone' card index)}}
      </div>
        
      {{!-- Menu --}}
      <div class="mdl-card__menu">
        {{mdl-button icon='delete' action=(action "deleteCard" card)}}
      </div>
    </div>
  {{/each}}  
</div>